TEST ApplicationMailer

Paste this link into your browser to sign in

= link_to "Sign In", magic_link_url(sgid: @message.sgid)

- if @message.expires_at.present?
  Link is valid until #{@message.expires_at}
- else
  This link does not expire.
