%h1
  Skills
  = link_to 'New Skill', [:new, :admin, :skill], class: 'btn btn-outline-secondary float-end'
%table.table
  %thead
    %th
      Name
    %th
      Finishers
    %th
      Description
  = render @skills
