.row.pt-3
  .col
    %hr
    %h3 Email Template Previews
    %p See examples of automated emails users will receive.
    %ul
      %li
        %a(href="/rails/mailers/devise/mailer/confirmation_instructions") Email confirmation instructions
        %span [to any user after account registration.  User will not receive additional emails until this is confirmed.]
      %li
        %a(href="/rails/mailers/devise/mailer/reset_password_instructions") Reset password instructions
        %span [to any user after clicking "Forgot Password"]
      %li
        %a(href="/rails/mailers/finisher_mailer/welcome") Finisher welcome
        %span [to Finisher after initial registration]
      %li
        %a(href="/rails/mailers/finisher_mailer/profile_complete") Finisher profile complete
        %span [to Finisher after completing profile]
      %li
        %a(href="/rails/mailers/finisher_mailer/project_check_in") Project check-in
        %span [to Finisher with active Assignment]
      %li
        %a(href="/rails/mailers/application_mailer/error") Email error bounce
        %span [to anyone who sends an email over 25MB]
      %li
        %a(href="/rails/mailers/project_mailer/alert_manager") Manager alert
        %span [to Manager when a Finisher leaves negative feedback]