- window = 3 # days
- since = (Time.zone.now - window.days).beginning_of_day

%hr
%h3 New scheduled job logs from last #{window} days

.row.pt-3
  .col
    - job_logs = JobLog.since(since)
    - if job_logs.any?
      .pt-1= render partial: 'manage/job_logs/compact', locals: { job_logs:  job_logs }
    - else
      %p.fst-italic No new logs since #{since.to_formatted_s(:human)}
