- if @project.manager_id.nil?
  .d-flex.flex-wrap.align-items-center
    .action-info.flex-grow-1
      %h3 Assign manager
      %p This project has no manager currently assigned.
    .action-cta
      = link_to 'Edit Project', [:edit, :manage, @project], class: 'btn btn-primary'