= render 'title', title: 'Please tell us about yourself'
.font-light
  %p.my-4 As a crafter, you understand that a handmade gift is priceless. The materials and hours that go into making something for a loved one are a gesture of love. Thank you for your interest in signing up to finish a project. Your efforts will reconnect a bereaved individual with a garment or accessory that was begun for them by a loved one.
  %p.my-4 Loose Ends welcomes knitters, crocheters, quilters, or crafters of all sorts from anywhere in the world.
= render 'profile_form'
