.col-lg-6.mb-4.mb-lg-0
  .card.h-100
    .row.g-0.h-100
      .col-4.overflow-hidden
        = image_tag('hero_finisher.jpg', class: 'rounded-start h-100')
      .col-8
        .card-body.h-100.d-flex.flex-column
          .row.flex-grow-0.flex-start
            %h4 Volunteer as a Finisher
            %p Tell us about yourself, the crafts you offer, and your skill level. You will be invited to share a photo of yourself, and (if you’d like to) a few images of your work (this is suggested, but not required). We welcome finishers skilled in any textile craft (currently there are 30+ different handwork crafts included). If you’d like to offer a craft that is not yet on our list, please let us know.

          .row-auto.flex-grow-1.align-content-end
            - if current_user
              = link_to 'Create Your Profile', new_finisher_path, class: 'btn-primary btn'
            - else
              = link_to 'Sign Up', new_registration_path('user', source: 'finisher'), class: 'btn-primary btn'
