= render 'title', title: 'Loose Ends Project'
%h3.page-subtitle Why it’s important to finish a handmade project
.row
  .col-12.col-md-9
    .page-section
      %p “You look like somebody loves you.”
      %p
        Handmade items are gestures of love. The time, expense, and skill that go into making them are impossible to quantify. When you wear something made special for you, it feels good — you were thoughtfully considered with each stitch. When a maker dies mid-project, this tangible, handmade expression of love could get lost, donated away, or thrown out.
      %p
        Or, it can be finished as intended and given back to be cherished.
    - if current_user
      - if !current_user.finisher?
        .page-section
          %h4 Get Involved!
          %ul.list-unstyled.row
            %li.col-6.col-lg-4
              = link_to 'Become a Finisher', current_user&.finisher? ? edit_finisher_path : new_finisher_path, class: 'btn-primary btn w-100'
      - if current_user.finisher?
        .page-section
          %b Finisher
          %ul.list-unstyled.row
            %li.col-6.col-lg-4
              = link_to 'View your Profile', :finisher, class: 'btn-primary btn w-100'
    - else
      .page-section
        %b Get Involved!
        %ul.list-unstyled.row
          %li.col-6.col-lg-4
            = link_to 'Become a Finisher', new_registration_path('user'), class: 'btn-primary btn w-100'

