.row
  .col-6
    = line_chart manage_reports_new_projects_by_month_path,
      title: "New Projects by Month (Last 12 Months)", download: true
  .col-6
    = line_chart manage_reports_new_finishers_by_month_path,
      title: "New Finshers by Month (Last 12 Months)", download: true

.row.pt-3
  .col-6
    %h3 Other Reports
    %ul
      %li= link_to "Heard About Us", manage_reports_heard_about_us_path
