%h3= params[:action]
%div.mb-2.pt-3= @description
%table.table.table-striped
  %thead
    %tr
      - @result.fields.each do |f|
        %th= f
  %tbody
    - @result.values.each do |v|
      %tr
        - v.each do |r|
          %td= r