<h1 class="page-title">
  <%= @project.name %>
  <% if current_user.admin? %>
    (<%= @project.status.humanize %>)
  <% end %>

  <% if current_user == @project.user %>
    <%= link_to 'Edit Project', [:edit, :admin, @project], class: 'action' %>
  <% end %>
</h1>

<div class="page-section">
  <h4>Project Details</h4>
</div>


<%= render 'projects/details' %>