%h1
  = @project.name
  - if current_user.admin?
    (#{@project.status.humanize})
  - if current_user == @project.user
    = link_to 'Edit Project', [:edit, :admin, @project], class: 'btn btn-outline-secondary float-end'
.page-section
  %h4 Project Details
= render 'projects/details'
