%tr
  %td
    = link_to finisher.name, [:manage, finisher]
  %td
    = finisher.user.email
  %td
    - if finisher.user.confirmed?
      %span.badge.bg-primary CONFIRMED
    - else
      %span.badge.bg-secondary UNCONFIRMED
  %td= finisher.full_address
  - if @project
    %td= link_to 'Assign', [:new, :manage, @project, :assignment, { finisher_id: finisher.id }]
