= render 'title', title: 'Project Details'
= form_with model: @project, html: { class: 'form', data: { turbo: false } } do |form|
  = render "error_messages", resource: @project
  = render 'project_form_fields', form: form
