= render 'title', title: 'Submit your Project'
%ol.list-decimal.font-light.ml-8
  %li.my-4 In order to qualify to have your loved one’s project finished by a Loose Ends volunteer, the following criteria must be met:
  %li.my-4 The originator of the project must be deceased, or no longer able to finish the project due to illness or disability.
  %li.my-4 The project must be partially begun.
  %li.my-4 The project and its materials must be free of moths and moth eggs. No contaminated yarn will be accepted. No rotting materials will be accepted.
  %li.my-4 The project must not smell of mothballs or mold. If the deceased was a smoker, we will do our best to match their project with a finisher who is OK with the smell.
= render 'details_form'
