<h1 class="page-title">
  <%= @project.name %>
  <% if current_user.admin? %>
      (<%= @project.status.humanize %>)
  <% end %>

  <% if current_user == @project.user %>
    <%= link_to 'Edit Project', [:edit, @project], class: 'action' %>
  <% end %>
</h1>
<%= render 'projects/details' %>