%tr
  %th.text-nowrap.text-end.align-top.pe-2= title + ": "
  - if value.present?
    %td
      - value.each do |image|
        - if image.representable?
          = link_to image_tag(image.representation( resize_to_limit: [100, 100]), class: 'thumbnail rounded'),
            url_for(image.variant(format: :jpg)), target: "_blank", class: 'align-top'
        - else
          = link_to(image.filename, url_for(image), target: "_blank", class: 'align-top')
  - else
    %td.text-secondary none
