
.col
  %turbo-frame{ id: dom_id(assignment)}
    Assigned to
    = link_to assignment.finisher.user.name, [ :manage, assignment.finisher ], data: { turbo_frame: :_top }
    = l assignment.created_at, format: :short
    = button_to fa_icon("trash"), manage_assignment_path(assignment), method: :delete, :onclick => "return confirm('Are you sure?')", form_class: 'd-inline', class: 'btn btn-link p-0'
