
%p Congrats, you are officially a Loose Ends Project Finisher! We are so happy to be able to add your talent to our pool of volunteers ready to complete craft projects.
%p At any time if you need to update your contact info or your skills, simply log in to your account and do so.
%p Three things to consider while you wait for a project to come your way:
%ul
  %li Make sure your email system doesn't flag @looseendsproject.org emails as spam.
  %li We will be in touch as soon as we have a project for you to consider. In the meantime, please consider downloading our flyer here and share it with your community. This will increase your chances of getting a project sooner!
  %li Are you on Facebook? Join our private Facebook group for Loose Ends finishers here (it's lots of fun). Also make sure you're following us  Facebook  Instagram & Ravelry
%p
  Thanks for being part of this with us,
  %br/
  Masey & Jen
%br/
%br/
%b Facebook GroupsFacebook Groups
%p
  = link_to "Loose Ends Finishers | Facebook", "https://www.facebook.com/groups/3157638207882312"
  %br/
  This group is a place for established Loose Ends finishers to gather as a community to ask questions, offer feedback or engage in conversations related to handwork.
