%p.headline Welcome #{@message.user.name}!

%p Thanks for creating an account with Loose Ends Project and verifying your email.  These are the first steps toward becoming a volunteer finisher.

%p There is one more step to go.  We need to know what types of projects you might be eligible to complete.

%p= link_to "Complete Your Profile", magic_link_url(sgid: @message.sgid), class: 'email-button'

%p Once you've answered the questions, your profile will be complete, and you'll be on our list to contact when a project becomes available near you. When you're done, you'll receive an email confirming your status as an official finisher.  This link is valid until #{@message.expires_at.to_formatted_s(:human)}.

%p
  Thank you for being part of this with us,
  %br/
  Masey & Jen
