%h1 Expired link.

%p Your original link expired.  A new link was automatically sent to you.  Please check your email.

%pre= @replacement

%p Alternately, you can log in with your username and password here.

%p You may close this window.

%button.btn.btn-primary Resend Link
