%h1
  Products
  = link_to 'New Product', [:new, :admin, :product], class: 'btn btn-outline-secondary float-end'
%table.table
  %thead
    %th
      Name
    %th
      Finishers
    %th
      Description
  = render @products
