- fields = %w[id name created_at status description finisher_name city state country]
= CSV.generate_line(fields.map(&:titleize), row_sep: nil)
- @projects.find_each do |project|
  = CSV.generate_line(fields.map{|attr| project.send(attr.to_sym) }, row_sep: nil)