@import application.bootstrap
@import "@fortawesome/fontawesome-free/scss/fontawesome"
@import "@fortawesome/fontawesome-free/scss/solid"
@import "@fortawesome/fontawesome-free/scss/brands"



// Forms

.form-actions
  margin-top: 1rem

.form-info
  font-size: 11px


.required:after
  font-size: 1.2rem
  content: "*"
  color: orangered
  position: relative
  bottom: 0
  left: 2px
  line-height: 1.2

// Breadcrumbs

div.breadcrumb
  display: flex
  align-items: center
  i.fa
    margin-left: .5rem
    margin-right: .5rem
    font-size: .7rem
    line-height: .7rem

h1
  margin-bottom: 3rem

h5
  margin-top: 2rem


.removeable_image
  @extend .m-1
  width: 100px
  height: 100px
  position: relative
  display: inline-block
  button
    @extend .btn
    @extend .btn-outline-dark
    @extend .btn-sm
    @extend .p-1
    opacity: .7
    position: absolute
    bottom: 2px
    right: 2px
    background-color: white

footer
  margin-bottom: 4rem
  margin-top: 4rem
  border-top: solid 1px #DDD
  padding-top: 2rem
  text-align: center

.hidden
  display: none