@import application.bootstrap



// Forms

.form-actions
  margin-top: 1rem

.form-info
  font-size: 11px

h1
  margin-bottom: 3rem

h5
  margin-top: 2rem

footer
  margin-bottom: 4rem
  margin-top: 4rem
  border-top: solid 1px #DDD
  padding-top: 2rem
  text-align: center


.required:after
  font-size: 1.2rem
  content: "*"
  color: orangered
  position: relative
  bottom: 0
  left: 2px
