/* Used by premailer-rails gem */

body { font-family: sans-serif; font-size: 1.1em; }
hr { border-top: 0.5px solid gray; }
.headline { font-size: 1.4em; font-weight: bold; }
.email-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.email-button:hover { background-color: #0056b3; }
