<%= render 'title', title: 'Dashboard' %>
<p><%= link_to 'Volunteers', admin_volunteers_path %></p>
<p><%= link_to 'Users', admin_users_path %></p>
<p>
  <%= link_to 'Skills', admin_skills_path %></p>