%h1.page-title.row
  .col
    Edit User
  .col.text-end
    = button_to fa_icon("trash"), admin_user_path(@user), method: :delete, :onclick => "return confirm('Are you sure you want to delete this User?')", class: 'icon'

= render 'form'
