<%= render 'title', title: 'Users' %>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Projects</th>
    <th>Volunteer</th>
    <th>Admin</th>
  </tr>
  <%= render @users %>
</table>