= render 'title', title: 'Users'
%table.table
  %tr
    %th ID
    %th Name
    %th Email
    %th.text-center Projects
    %th.text-center Finisher
    %th.text-center Manager
    %th.text-center Admin
  = render @users

= will_paginate @users