# .github/workflows/.tests.yml
name: CI
on: [pull_request]
jobs:
  install-cache:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v3
      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
  tests:
    runs-on: ubuntu-latest
    needs: install-cache
    timeout-minutes: 10
    services:
      postgres:
        image: postgres
        ports: ["5432:5432"]
        env:
          POSTGRES_USER: myapp
          POSTGRES_DB: myapp_test
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v3
      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 23.5.0
          cache: yarn
      - name: Bundle install
        run: |
          bundle install
      - name: Install packages
        run: yarn install --force
      - name: Yarn Build Javascript
        run: yarn build
      - name: Yarn Build CSS
        run: yarn build:css
      - name: Copy Database configuration file
        run: cp config/database.yml.example config/database.yml
      - name: Run tests
        env:
          RAILS_ENV: test
          RAILS_ENV_DISPLAY: test
          PGHOST: localhost
          PGUSER: myapp
          PGPASSWORD: password
          RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
        run: |
          bin/rails db:setup
          bin/rake
