%div(style="50px") &nbsp;
%hr
%address
  Loose Ends Project</br>
  %br
    %a(href="www.looseendsproject.org") www.looseendsproject.org</br>
  %br 501(c)3 Registered in Washington State.</br>
  %br Finishers & Projects are Worldwide.

