%div(style="50px") &nbsp;
%hr
%address
  Loose Ends Project</br>
  %a(href="www.looseendsproject.org") www.looseendsproject.org</br>
  501(c)3 Registered in Washington State.</br>
  Finishers & Projects are Worldwide.

